* {
    font-family: FiraCode Nerd Font;
    border: none;
    font-size: 1.1rem;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: #b7bdf8;
}

window#waybar{
    background-color: transparent;
}

window > box {
    background-color: transparent;
    margin: 0.4rem 1.2rem 0;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.2rem 1rem;
}

#language,
#clock,
#wireplumber,
#tray,
#cava,
#custom-spotify,
#custom-wireplumber,
#custom-cava,
#custom-weather,
#custom-powermenu,
#custom-blank,
#temperature {
    margin: 0 0.4rem;
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    border-radius: 4px 4px 4px 4px;*/
}

/* Module specific properties */

/* Left modules */
#custom-weather {
    color: #f4dbd6;
}

#temperature {
    color: #f0c6c6;
}

/* Center modules */
#custom-spotify {
    color: #f5bde6;
}

#custom-cava,
#cava {
    color: #c6a0f6;
}

#wireplumber,
#custom-wireplumber {
    color: #f5bde6;
}

/* Right modules */
#tray {
    color: #ee99a0;
}

#language {
    color: #eed49f;
}

#clock {
    color: #eed49f;
}

#custom-powermenu {
    color: #a6da95;
}
