window {
    margin: 2px;
    border: 2px solid #c6a0f6;
    background-color: #24273a;
    border-radius: 14px;
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    box-shadow: 0 0 16px rgba(198, 160, 246, 0.25);
}

#input {
    padding: 6px;
    margin: 6px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #c6a0f6;
    color: #cad3f5;
    background-color: transparent;
    outline: none;
    border-radius: 0;
}

#input:focus {
    border-bottom: 1px solid #f5bde6;
}

#inner-box {
    margin: 2px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
}

#scroll {
    margin: 0;
    border: none;
}

#text {
    color: #cad3f5;
}

#text:selected {
    color: #f5bde6;
    margin: 0;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

#entry:selected {
    margin: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(198, 160, 246, 0.2);
}
