* {
    font-family: FiraCode Nerd Font;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: #1e1e2a;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window > box {
    background-color: #1e1e2a;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 2px none #33ccff;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background-color: #ffd045;
    background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color: black;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

#language {
    background-color: #ffd045;
    background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
    border-radius: 8px;
    padding: 0 10px;
    color: black;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: #ffd045;
    background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
    border-radius: 8px;
    padding: 0 20px;
    color: black;
}

/* -----------------------------------------------------
 * Wireplumber
 * ----------------------------------------------------- */

#wireplumber {
    background-color: #ffd045;
    background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
    border-radius: 8px;
    padding: 0 10px;
    color: black;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

.custom-spotify {
    background-color: #ffd045;
    background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
    border-radius: 8px;
    padding: 0 20px;
    color: black;
}